
.App {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 80%;
  margin: auto;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr;
  grid-template-areas:
    "header"
    "tv-items";
}

.notice {
  max-width: 70vw;
}

.header {
  grid-area: header;
}

.schedule {
  grid-area: tv-items;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.schedule a {
  color: inherit;
  text-decoration: inherit;
}
