.tvItem {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tvItem:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.tvItem img {
  max-width: 100%;
}

.tvItem h1 {
  font-size: 1rem;
}

.star {
  color: gold;
  font-size: 1.5rem;
  padding: 0.3rem;
}

.star-rating {
  /* margin-top: 1rem; */
}
